{% load staticfiles %}
<html>
  <head>
    <title>HMS UDN</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/participants.css' %}">
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
  <footer>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="{% static "javascript/participants-list.js" %}" type="text/javascript"></script>
  </footer>
</html>
