<h1>Participant Details</h1>
{{ form }}

<!-- {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
<form action="{% url 'participants:update' participant.id %}" method="put">
  {% csrf_token %}
  <fieldset class="module aligned">
    <div class="form-row">
      <label>Name:</label>
      <input type="text" name="name" id="participant_name" value="{{ participant.name }}" />
    </div>
    <div class="form-row">
      <label>Age:</label>
      <input type="text" name="age" id="participant_age" value="{{ participant.age }}" />
    </div>
    <div class="form-row">
      <label for="participant_siblings">Have any Siblings?</label> -->
      <!-- put a select here -->
    <!-- </div>
    <div class="form-row">
      <label>Please list any environmental exposures:</label>
      <textarea name="env_exposures" id="participant_env_exposures">{{ participant.env_exposures }}</textarea>
    </div>
    <div class="form-row">
      <label>Please describe any known genetic mutations:</label>
      <textarea name="genetic_mutations" id="participant_genetic_mutations">{{ participant.genetic_mutations }}</textarea>
    </div>
  </fieldset>
  <input type="submit" value="Update" />
</form> -->
